doctype html
html(lang='en')
  head
    meta(content='text/html; charset=utf-8' http-equiv='Content-Type')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(content='IE=edge' http-equiv='X-UA-Compatible')
    meta(charset='utf-8')
    title Drone Control
    
    // LIBS : Font-Awesome, ROSLIBJS, LIST.JS, EventEmitter2, Paper
    link(href='app.min.css', rel='stylesheet')
body.nav-md
  .left 
    .container-realtime
      canvas#realtime

  .right#Mission
    table(border='1')
      thead
        tr
          th Index
          th Type
          th Name
          th Target
          th Bonus data
      tbody.list#clickTbody
        tr
          td.ID(style='display:none;') dummy
          td.index dummy
          td.type dummy
          td.name dummy 
          td.target dummy
          td.bonus dummy
  br
  button(onclick='return false').btn#addTask add a task
  button(onclick='return false').btn#getMission get the mission
  button(onclick='return false').btn#removeMission remove the mission
  button(onclick='return false').btn#exportMission export the mission
  button(onclick='return false').btn#importMission import the mission
  .modal-container
    .mdl.mdl-fadin#addTaskModal
      .mdl-content.mdl-slidein
        center
          .mdl-header.mdl-band-success
            i.fa.fa-times.close(aria-hidden='true')
            h2 Add a task
          .mdl-body
            label Type : 
            select.type
              optgroup(label='Fly command')
                option(value='target') Go to ...
                option(value='loiter') Wait here ... 
                option(value='grab') Grab 
              optgroup(label='Special command')
                option(value='init_uav') Init UAV
                option(value='arm') Arm
                option(value='takeoff') Takeoff
                option(value='disarm') Disarm
                option(value='land') Land
              optgroup(label='Testing')
                option(value='null') Null
                option(value='test') Test
                option(value='notexisting') Not existing one
            br
            label Name : 
            input.name(type='text', placeholder='Going to brick 3')
            br 
            label Additionnal data : 
            input.data(type='text', placeholder='[ 0.2, 0.2, 1]' required) 
            br
            fieldset
              legend Target
              label X : 
              input.targetx(type='number', placeholder='2.0' required) 
              label Y : 
              input.targety(type='number', placeholder='2.0' required) 
              label Z : 
              input.targetz(type='number', placeholder='2.0' required) 
              label Yaw : 
              input.yaw(type='number', placeholder='0.0' required) 
          .mdl-footer.mdl-band-success
            button(onclick='return false').btn.confirm Add the task
            button(onclick='return false').btn.cancel Cancel
    .mdl.mdl-fadin#removeModal
      .mdl-content.mdl-slidein
        center
          .mdl-header.mdl-band-warning
            i.fa.fa-times.close(aria-hidden='true')
            h2 Remove the task
          .mdl-body
            label Index : 
            span.index dummy
            br
            label Type : 
            span.type dummy
            br
            label Name : 
            span.name dummy
            br
            label Target : 
            span.target (dummy)
            br
            label Data : 
            span.bonus [dummy]
            br
            label ID : 
            span.ID dummyID
          .mdl-footer.mdl-band-warning
            button(onclick='return false').btn.confirm Remove the task
            button(onclick='return false').btn.cancel Cancel

    .mdl.mdl-fadin#exportModal
      .mdl-content.mdl-slidein
        center
          .mdl-header.mdl-band-success
            i.fa.fa-times.close(aria-hidden='true')
            h2 Export mission
          .mdl-body
            .exportData
          .mdl-footer.mdl-band-success
            button(onclick='return false').btn#selectTextExport Select text
            button(onclick='return false').btn.cancel Ok

    .mdl.mdl-fadin#importModal
      .mdl-content.mdl-slidein
        center
          .mdl-header.mdl-band-success
            i.fa.fa-times.close(aria-hidden='true')
            h2 Import mission
          .mdl-body
            textarea(rows="8" cols="100")
          .mdl-footer.mdl-band-success
            button(onclick='return false').btn.confirm Send
            button(onclick='return false').btn.cancel Cancel
  
  script(src='lib.min.js', type='text/javascript')
  script(async src='app.js', type='text/javascript')
  // LIBS : Paper, ROSLIB

