/*** App specific ***/
.container-realtime {
    padding: 0px;
    margin: 0px;
    width:800px;
    height:800px;
    display: inline-block;
}

canvas {
    width:800px;
    height:800px;
}

table {
    display: inline-block;
    width:auto;
    height: 750px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.right {
    top : 0;
    display: inline-block;
    width:auto;
    height:auto;
}

.left {
    display: inline-block;
    width:800px;
    height:800px;
}

li {
    list-style-type: none;
}

button {
    margin: 10px;
    padding: 6px 12px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

button:hover {
    background-color: #113333;
}

.index {
    font-weight: bold;
}

td, th {
    margin-left: 10px;
    padding: 10px;
    border:solid 1px #eee;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

th {
    font-size: 24px;
}

/*** Form ***/
select, input, fieldset {
    margin : 5px;
    font-size: 18px;
}

input {
    padding : 3px 8px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border: 1px solid #ccc; 
    border-radius: 7px;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

tr.active {
  background-color: #5cb85c;
}

span.key {
  color : blue;
}

span.number {
  color : red;
}

span.string {
  color : green;
}

div.exportData {
  text-align: left;
  height : 300px;
  width: 50%;
  overflow-y: auto;
  overflow-x: auto;
}

input:valid {
  border-color: green;
}

input:invalid {
  border-color: red;
}