<launch>
  <!-- Pixhawk config -->
  <arg name="gcs_url" default="tcp-l://:14555" />

  <!-- Rosbridge config -->
  <arg name="certfile" default=""/>
  <arg name="keyfile" default="" />
  <arg name="retry_startup_delay" default="5" />
  <arg name="delay_between_messages" default="0" />
  <arg name="max_message_size" default="None" />
  <arg name="authenticate" default="false" />

  <!-- Localisation launch : Rosserial + lasers -->
  
  <node pkg="rosserial_python" type="serial_node.py" name="rosserial_server" output="screen">
    <param name="port" value="/dev/ttyACM0" />
    <param name="baud" value="115200"/>
  </node>
  <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" />

  <node name="flyingros" pkg="flyingros_pose" type="six_lasers_algorithm" output="screen" >
    <remap from="/flyingros/lasers/pose2mocap" to="/mavros/vision_pose/pose" />
    <rosparam file="$(find flyingros_pose)/cfg/laser/6lasers.yaml"/>
  </node> 

  <!-- Tasks node launch -->
  <!--node name="task_node" pkg="flyingros_nav" type="task_node" output="screen" >
  </node-->

  <!-- PX4 launch -->
  <include file="$(find mavros)/launch/node.launch">
    <arg name="pluginlists_yaml" value="$(find flyingros_pose)/cfg/pixhawk/px4_pluginlists.yaml" />
    <arg name="config_yaml" value="$(find flyingros_pose)/cfg/pixhawk/px4_config.yaml" />

    <arg name="fcu_url" value="serial:///dev/ttySAC0:921600" />
    <arg name="gcs_url" value="$(arg gcs_url)" />
    <arg name="tgt_system" value="1" />
    <arg name="tgt_component" value="50" />
    <arg name="log_output" value="log" />
  </include>

<!--
  <node name="rosbridge_websocket" pkg="rosbridge_server" type="rosbridge_websocket" output="screen">
    <param name="authenticate" value="$(arg authenticate)" />
    <param name="port" value="9090"/>
    <param name="address" value=""/>
    <param name="retry_startup_delay" value="$(arg retry_startup_delay)"/>
    <param name="fragment_timeout" value="600"/>
    <param name="delay_between_messages" value="0"/>
    <param name="max_message_size" value="$(arg max_message_size)"/>
  </node>
  <node name="rosapi" pkg="rosapi" type="rosapi_node" />-->
  <!--rosrun dynamic_reconfigure dynparam set /pose/pose_sensor core_init_filter true -->

  <!--node name="pose" pkg="msf_updates" type="pose_sensor" clear_params="true" output="screen">
      <remap from="msf_core/imu_state_input" to="/mavros/imu/data"/>
      <remap from="msf_updates/pose_sensor" to="/flyingros/lasers/pose" />
      <rosparam file="$(find flyingros_pose)/cfg/msf/px4_fix.yaml"/>
      <rosparam file="$(find flyingros_pose)/cfg/msf/lasers_pose_fix.yaml"/>
  </node-->

</launch>
