<launch>
  <node name="odroid416p" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="752" />
    <param name="image_height" value="416" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="odroid416p" />
    <param name="io_method" value="mmap"/>
  </node>

  <node ns="odroid416p" name="image_proc" pkg="image_proc" type="image_proc">
    <remap from="image_raw" to="/odroid416p/image_raw" />
    <remap from="camera_info" to="/odroid416p/camera_info" />
    <param name="respawn" value="true"/>
    <param name="queue_size" value="1"/>
  </node>

  <arg name="fcu_url" default="/dev/ttySAC0:921600" />
	<arg name="gcs_url" default="" />
	<!--<arg name="gcs_url" default="udp://:14556@130.104.99.216:14550" />-->
  <arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />

  <include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
	</include>

  <node pkg="rosbag" type="record" name="imu_camera"
    args="-o /home/flytpod/imu_camera /mavros/imu/data /mavros/imu/data_raw /mavros/imu/mag /mavros/imu/atm_pressure /mavros/imu/temperature /mavros/altitude /mavros/global_position/compass_hdg /odroid416p/camera_info /odroid416p/image_mono /diagnostics /rosout"/>

<!-- Topics to save :
/mavros/imu/data
/mavros/imu/data_raw
/mavros/imu/mag
/mavros/imu/atm_pressure
/mavros/imu/temperature
/mavros/altitude
/mavros/global_position/compass_hdg
/odroid416p/camera_info
/odroid416p/image_mono
 -->

</launch>
